JIRA_BASE_URL=
JIRA_USERNAME=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=nomic-embed-text
OLLAMA_CHAT_MODEL=llama3.2

SIMILARITY_THRESHOLD=70
TOP_RESULTS=3

GENERATE_REASON=false
GENERATE_REASON_FOR_TOP=3